<!DOCTYPE html>
<html>
  <head>
    <title>Insolent Squeegee</title>
    <%# javascript_include_tag('public') %>
  </head>
  <body>

  <!-- Before Yield -->
  <%= yield %>
  <!-- After Yield -->

  </body>
</html>
